<div class="card-header" *ngIf="useServerAPI"
  style="font-size: x-large; font-weight: bolder;position:absolute; left:100px; top:125px;">
  If you are an Admin, <a class="btn btn-primary" [routerLink]="['/admin']">click here</a></div>
<div class='row'>
  &nbsp;
</div>
<div class='row'>
  <table class="table">
    <tr>
      <td style="font-size: large; font-weight: bolder;">Your name is:</td>
      <td style="font-size: large; font-weight: bolder;" *ngIf="useServerAPI">
        &nbsp;
        &nbsp;
        &nbsp;Your generated unique Id is:</td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="legacy">
          <input autocomplete="off" matInput placeholder="please enter your name" [(ngModel)]="userName">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </td>
      <td *ngIf="useServerAPI">
        &nbsp;
        &nbsp;
        &nbsp;
        <span class="form-control" style="font-weight: bolder; color: royalblue;"> {{ uniqueId }}</span>
      </td>
      <td style="font-size: medium; font-weight: bolder;">
        &nbsp;
        &nbsp;
        &nbsp;
        <mat-checkbox class="example-margin" [checked]="isCacheDataChecked" (change)="CacheData($event.checked)">Store your BINGO card in my memory</mat-checkbox> for
        <mat-form-field [style.width.px]=50 appearance="legacy">
          <input autocomplete="off" type="number" style="text-align: center" matInput [(ngModel)]="cacheDataDays"
            [readonly]="!isCacheDataChecked">
        </mat-form-field>days
      </td>
    </tr>
  </table>
</div>
<div class='panel-body'>
  <div class='row' style="align-items: center;">
    <button mat-raised-button matTooltip="creates new game, reset the stored cards" matTooltipClass="tooltip"
      (click)="CreateNewBoard()">
      <mat-icon>gamepad</mat-icon>&nbsp;Create New Game
    </button>
  </div>
  <div class='row'>
    &nbsp;
  </div>
  <div class='row'>
    <span style="color: red; font-weight: bolder; font-size: medium;">
      &nbsp; {{ invalidName}}
    </span>
  </div>
  <div class='table-responsive'>
    <table class="table table-float">
      <tr>
        <td>
          <table class="table table-Bingo">
            <tr>
              <th>
                <button class="btn btn-primary button-th">B</button>
              </th>
              <th>
                <button class="btn btn-primary button-th">I</button>
              </th>
              <th>
                <button class="btn btn-primary button-th">N</button>
              </th>
              <th>
                <button class="btn btn-primary button-th">G</button>
              </th>
              <th>
                <button class="btn btn-primary button-th">O</button>
              </th>
            </tr>
            <tr *ngFor="let row of bingoNewCards">
              <td *ngFor="let word of row">
                <button class="btn btn-primary button-td" [ngClass]="{'button-clicked' : userFoundCards.includes(word)}"
                  [id]="word" (click)="FoundWord(word)">{{ word | trimFirst}}</button>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table class="table">
            <tr>
              <td style="font-size: large; font-weight: bolder;">New card will be generated every
                <mat-form-field [style.width.px]=50 appearance="legacy">
                  <input autocomplete="off" type="number" style="text-align: center" matInput
                    [(ngModel)]="tokenInterval" [readonly]="isTokenIntervalReadonly">
                </mat-form-field>seconds
              </td>
            </tr>
            <tr>
              <td>
              <td>
                <span style="color: lightsalmon; font-weight: bolder; font-size: medium;">
                  {{ invalidTimeInterval}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="form-control" style="font-weight: bolder; color: rosybrown;"> {{ tokenToRender }}</span>
              </td>
            </tr>
            <tr>
              &nbsp;
            </tr>
            <tr>
              <td *ngIf="newGameStarted">
                <button mat-raised-button matTooltipClass="tooltip" matTooltip="pause/re-start the token Generation"
                  (click)="UnsubscribeTokens(false)">
                  <mat-icon>cached</mat-icon>&nbsp;{{ pausePlayToken }} card Generation
                </button>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <div class='row'>
    <span *ngIf="showTip"
      style="color: darkblue; font-weight: bolder; font-size: medium;position:absolute; left:590px; top:610px;">
      You can update the card interval before you start a new game or after you paused the card Generation
    </span>
    <span class="form-control" style="font-weight: bolder; color: lightcoral;position:absolute; left:590px; top:630px;">
      {{ deSelectMessage }}</span>
  </div>
  <div class='row' style="position:absolute; left:700px; top:670px;">
    <button mat-raised-button matTooltip="submit your selection" matTooltipClass="tooltip" (click)="CheckForBingo()">
      <mat-icon>fact_check</mat-icon>&nbsp;Check BINGO!
    </button>&nbsp;&nbsp;
    <button mat-raised-button matTooltip="resets your selection" matTooltipClass="tooltip" (click)="ResetSelection()">
      <mat-icon>reset_tv</mat-icon>&nbsp;Reset Selection
    </button>
  </div>
  <div class='row'>
    &nbsp;
  </div>
  <div class='row' *ngIf="displayedTokens.length > 0" style="position:absolute; left:250px; top:710px;">
    <span class="form-control" style="font-weight: bolder; color: rosybrown; font-size: large;"> Generated cards
      list:</span>
    <table class="table">
      <tr>
        <td style="border-width: thin; border-style: solid;" *ngFor="let token of displayedTokens">
          <span class="form-control" style="font-weight: lighter; color: blueviolet;font-size: large"> &nbsp; {{ token
            }} &nbsp;</span>
        </td>
      </tr>
    </table>
  </div>
</div>
