/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-tooltip.tooltip {
  background-color: darkblue;
  font-size: 12px;
}

.table-float {
  border: 1px solid black;
  border-spacing:30px; border-width: 10px;
  position:absolute; left:450px; top:290px;
}

.table-Bingo{
  border-color: lightskyblue; background-color:#FFCCCB;
}

.button-th{
  background-color: lightskyblue;
  width: 70px;
  font-weight: bolder;
  font-size: x-large;
}

.button-td{
  background-color: palegreen;
  cursor: pointer;
  width: 70px;
  font-weight: bolder;
  font-size: x-large;
}

.button-clicked{
  text-decoration: line-through;
  color:red;
}

canvas {
  height: 100%; /* we need these for full-screen effect */
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: mediumaquamarine;
  color: white;
  text-align: center;
  align-content: center;
  align-items: center;
}

.btn.red {
  background-color: lightgreen;
}

.btn.red:hover, .btn.red:focus {
  background-color: cyan;
}
